

.button{
    width: 60px;
    height: 20px;
    border-radius: 14px;
      text-align: center;
      background-color: rgb(207, 150, 81);
}


.button{
  border-radius: 14px;
  background-color: rgb(74, 74, 88);
}